#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Date-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Notification-lite_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F8F8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F8F8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F8F8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F8F8;
  border-radius: 15px 15px 15px 15px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 0px 0px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_105 {
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_107 {
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_121 {
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_139 {
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_111 {
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_108 {
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-BlueBox {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 15px 15px 15px 15px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-TopWhiteRectangle {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 0px 0px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_117 {
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_116 {
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_110 {
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Later {
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_109 {
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_122 {
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_140 {
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-LaterArrow {
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_112 {
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_123 {
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_141 {
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_118 {
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_119 {
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_113 {
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-upcominplan {
  -ms-transform: rotate(0.0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-upcominplan_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}