#s-081213e6-c168-4fa4-aba6-6007985ce4b6 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Date-Label_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Date-Label_2 {
  position: absolute;
  width: 375px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 20.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Date-Label_2 > .clipping, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Date-Label_2 > .paddingLayer {
  height: 55px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Date-Label_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Date-Label_2 span {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 20.0pt;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Date-Label_2 span#rtr-s-Date-Label_2_0 {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-current_plan {
  position: absolute;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-info {
  width: 0px;
  height: 129px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-info > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-info td.layout {
  padding: 0px 0px 0px 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-info > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 94px;
  height: 129px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-info .verticalalign {
  vertical-align: top;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Notification-lite_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #F8F8F8;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F8F8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F8F8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F8F8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F8F8;
  border-radius: 15px 15px 15px 15px;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Notification-lite_3 {
  position: absolute;
  width: 0px;
  height: 0px;
  opacity: 0.9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Notification-lite_3 > .clipping, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Notification-lite_3 > .paddingLayer {
  height: 98px;
  width: 98px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Notification-lite_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Notification-lite_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Notification-lite_3 span#rtr-s-Notification-lite_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_7 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 0px 0px;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_7 {
  position: absolute;
  width: 0px;
  height: 35px;
  opacity: 0.4;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_7 > .clipping, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_7 > .paddingLayer {
  height: 34px;
  width: 98px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_7 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_105 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_105 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_105 > .clipping, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_105 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_105 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_105 span {
  color: #3F72AF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_105 span#rtr-s-Label_105_0 {
  color: #3F72AF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_105 span#rtr-s-Label_105_1 {
  color: #3F72AF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_106 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_106 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_106 > .clipping, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_106 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_106 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_106 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_106 span#rtr-s-Label_106_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_107 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_107 {
  position: absolute;
  width: 283px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_107 > .clipping, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_107 > .paddingLayer {
  height: 22px;
  width: 283px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_107 .valign {
  vertical-align: top;
  text-align: left;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_107 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_107 span#rtr-s-Label_107_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #F46036;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_1 {
  position: absolute;
  width: 3px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_1 > .clipping, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_1 > .paddingLayer {
  height: 48px;
  width: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_121 > svg {
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_121 {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_121 > img, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_121 > svg {
  height: 20px;
  width: 20px;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_16 > svg {
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_16 {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_16 > img, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_16 > svg {
  height: 20px;
  width: 20px;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_139 > svg {
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_139 {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_139 > img, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_139 > svg {
  height: 20px;
  width: 20px;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_20 > svg {
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_20 {
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_20 > img, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_20 > svg {
  height: 50px;
  width: 50px;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_28 > svg {
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_28 {
  position: absolute;
  width: 24px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_28 > img, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_28 > svg {
  height: 18px;
  width: 24px;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_111 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_111 {
  position: absolute;
  width: 283px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_111 > .clipping, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_111 > .paddingLayer {
  height: 22px;
  width: 283px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_111 .valign {
  vertical-align: top;
  text-align: left;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_111 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_111 span#rtr-s-Label_111_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_108 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_108 {
  position: absolute;
  width: 283px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_108 > .clipping, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_108 > .paddingLayer {
  height: 23px;
  width: 283px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_108 .valign {
  vertical-align: top;
  text-align: left;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_108 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_108 span#rtr-s-Label_108_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Hotspot_1 {
  position: absolute;
  width: 356px;
  height: 102px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Hotspot_1 > img, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Hotspot_1 > svg {
  height: 102px;
  width: 356px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Panel_1 {
  width: 356px;
  height: 129px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Panel_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Panel_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 356px;
  height: 129px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-LaterSchedule {
  position: absolute;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-info_1 {
  width: 0px;
  height: 251px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-info_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-info_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-info_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 94px;
  height: 251px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-info_1 .verticalalign {
  vertical-align: top;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-BlueBox > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #F8F8F8;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 15px 15px 15px 15px;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-BlueBox {
  position: absolute;
  width: 0px;
  height: 0px;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-BlueBox > .clipping, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-BlueBox > .paddingLayer {
  height: 98px;
  width: 98px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-BlueBox .valign {
  vertical-align: middle;
  text-align: center;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-BlueBox span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-BlueBox span#rtr-s-BlueBox_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-TopWhiteRectangle > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 0px 0px;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-TopWhiteRectangle {
  position: absolute;
  width: 0px;
  height: 35px;
  opacity: 0.6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-TopWhiteRectangle > .clipping, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-TopWhiteRectangle > .paddingLayer {
  height: 34px;
  width: 98px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-TopWhiteRectangle .valign {
  vertical-align: middle;
  text-align: center;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-TopWhiteRectangle span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-TopWhiteRectangle span#rtr-s-TopWhiteRectangle_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Group_1 {
  position: absolute;
  width: 283px;
  height: 62px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_117 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_117 {
  position: absolute;
  width: 283px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_117 > .clipping, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_117 > .paddingLayer {
  height: 23px;
  width: 283px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_117 .valign {
  vertical-align: top;
  text-align: left;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_117 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_117 span#rtr-s-Label_117_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_116 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_116 {
  position: absolute;
  width: 283px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_116 > .clipping, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_116 > .paddingLayer {
  height: 22px;
  width: 283px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_116 .valign {
  vertical-align: top;
  text-align: left;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_116 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_116 span#rtr-s-Label_116_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_110 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_110 {
  position: absolute;
  width: 283px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_110 > .clipping, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_110 > .paddingLayer {
  height: 22px;
  width: 283px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_110 .valign {
  vertical-align: top;
  text-align: left;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_110 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_110 span#rtr-s-Label_110_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Later > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Later {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Later > .clipping, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Later > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Later .valign {
  vertical-align: middle;
  text-align: left;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Later span {
  color: #3F72AF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 9.0pt;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Later span#rtr-s-Later_0 {
  color: #3F72AF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Later1 {
  position: absolute;
  width: 333px;
  height: 80px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_109 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_109 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_109 > .clipping, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_109 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_109 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_109 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_109 span#rtr-s-Label_109_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #3F72AF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_2 {
  position: absolute;
  width: 3px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_2 > .clipping, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_2 > .paddingLayer {
  height: 48px;
  width: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_122 > svg {
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_122 {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_122 > img, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_122 > svg {
  height: 20px;
  width: 20px;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_17 > svg {
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_17 {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_17 > img, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_17 > svg {
  height: 20px;
  width: 20px;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_140 > svg {
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_140 {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_140 > img, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_140 > svg {
  height: 20px;
  width: 20px;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_21 > svg {
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_21 {
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_21 > img, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_21 > svg {
  height: 50px;
  width: 50px;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-LaterArrow > svg {
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-LaterArrow {
  position: absolute;
  width: 33px;
  height: 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-LaterArrow > img, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-LaterArrow > svg {
  height: 33px;
  width: 33px;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Later2 {
  position: absolute;
  width: 333px;
  height: 81px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_112 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_112 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_112 > .clipping, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_112 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_112 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_112 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_112 span#rtr-s-Label_112_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_112 span#rtr-s-Label_112_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #3F72AF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_3 {
  position: absolute;
  width: 3px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_3 > .clipping, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_3 > .paddingLayer {
  height: 48px;
  width: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_123 > svg {
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_123 {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_123 > img, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_123 > svg {
  height: 20px;
  width: 20px;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_18 > svg {
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_18 {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_18 > img, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_18 > svg {
  height: 20px;
  width: 20px;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_141 > svg {
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_141 {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_141 > img, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_141 > svg {
  height: 20px;
  width: 20px;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_22 > svg {
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_22 {
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_22 > img, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_22 > svg {
  height: 50px;
  width: 50px;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Group_3 {
  position: absolute;
  width: 283px;
  height: 62px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_118 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_118 {
  position: absolute;
  width: 283px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_118 > .clipping, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_118 > .paddingLayer {
  height: 23px;
  width: 283px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_118 .valign {
  vertical-align: top;
  text-align: left;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_118 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_118 span#rtr-s-Label_118_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_119 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_119 {
  position: absolute;
  width: 283px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_119 > .clipping, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_119 > .paddingLayer {
  height: 22px;
  width: 283px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_119 .valign {
  vertical-align: top;
  text-align: left;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_119 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_119 span#rtr-s-Label_119_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_113 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_113 {
  position: absolute;
  width: 283px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_113 > .clipping, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_113 > .paddingLayer {
  height: 22px;
  width: 283px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_113 .valign {
  vertical-align: top;
  text-align: left;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_113 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_113 span#rtr-s-Label_113_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #shapewrapper-s-Line_1 marker {
  fill: #A9A9A9;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 300px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Line_1 {
  width: 300px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Hotspot_3 {
  position: absolute;
  width: 356px;
  height: 102px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Hotspot_3 > img, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Hotspot_3 > svg {
  height: 102px;
  width: 356px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Hotspot_2 {
  position: absolute;
  width: 356px;
  height: 102px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Hotspot_2 > img, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Hotspot_2 > svg {
  height: 102px;
  width: 356px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Panel_2 {
  width: 356px;
  height: 129px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Panel_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Panel_2 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 356px;
  height: 129px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_4 {
  position: absolute;
  width: 375px;
  height: 102px;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_4 > .clipping, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_4 > .paddingLayer {
  height: 102px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_4 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-upcominplan > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-upcominplan {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-upcominplan > .clipping, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-upcominplan > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-upcominplan .valign {
  vertical-align: middle;
  text-align: left;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-upcominplan span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-upcominplan span#rtr-s-upcominplan_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-upcominplan_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-upcominplan_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-upcominplan_1 > .clipping, #s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-upcominplan_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-upcominplan_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-upcominplan_1 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-upcominplan_1 span#rtr-s-upcominplan_1_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}