#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Date-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Notification-lite_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_105 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_139 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_111 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-BlueBox {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-TopWhiteRectangle {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_117 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_116 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_110 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Later {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_109 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_122 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_140 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-LaterArrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_112 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_123 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_141 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_118 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_119 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Label_113 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-upcominplan {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 #s-upcominplan_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-081213e6-c168-4fa4-aba6-6007985ce4b6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}