#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #F8F8F8;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 24px 24px 24px 24px;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Rectangle_1 {
  position: absolute;
  width: 377px;
  height: 319px;
  opacity: 0.9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Rectangle_1 > .clipping, #s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Rectangle_1 > .paddingLayer {
  height: 317px;
  width: 375px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_7 {
  position: absolute;
  width: 375px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 20.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_7 > .clipping, #s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_7 > .paddingLayer {
  height: 35px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_7 span {
  color: #021D5B;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 20.0pt;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_7 span#rtr-s-Text_7_0 {
  color: #021D5B;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_8 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_8 > .clipping, #s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_8 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_8 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_8 span#rtr-s-Text_8_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_9 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_9 > .clipping, #s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_9 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_9 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_9 span#rtr-s-Text_9_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_11 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_11 > .clipping, #s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_11 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_11 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_11 span#rtr-s-Text_11_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #F8F8F8;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 14px 14px 14px 14px;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Rectangle_2 {
  position: absolute;
  width: 375px;
  height: 141px;
  opacity: 0.9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Rectangle_2 > .clipping, #s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Rectangle_2 > .paddingLayer {
  height: 140px;
  width: 375px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_13 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_13 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 20.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_13 > .clipping, #s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_13 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_13 span {
  color: #021D5B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 20.0pt;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_13 span#rtr-s-Text_13_0 {
  color: #021D5B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_14 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_14 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_14 > .clipping, #s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_14 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_14 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_14 span#rtr-s-Text_14_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_15 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_15 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_15 > .clipping, #s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_15 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_15 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_15 span#rtr-s-Text_15_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Image_1 > svg {
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Image_1 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Image_1 > img, #s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Image_1 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Image_2 > svg {
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Image_2 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Image_2 > img, #s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Image_2 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #shapewrapper-s-Line_2 marker {
  fill: #A9A9A9;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #shapewrapper-s-Line_2 {
  position: absolute;
  width: 375px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Line_2 {
  width: 375px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #shapewrapper-s-Line_3 marker {
  fill: #A9A9A9;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #shapewrapper-s-Line_3 {
  position: absolute;
  width: 375px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Line_3 {
  width: 375px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_1 {
  position: absolute;
  width: 38px;
  height: 28px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 14.0pt;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_1 input {
  color: #F46036;
  text-align: center;
  text-decoration: underline;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  text-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F46036;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F46036;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F46036;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F46036;
  border-radius: 6px 6px 6px 6px;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_1 > .paddingLayer {
  height: 20px;
  width: 30px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #F8F8F8;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 14px 14px 14px 14px;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Rectangle_3 {
  position: absolute;
  width: 375px;
  height: 140px;
  opacity: 0.9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Rectangle_3 > .clipping, #s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Rectangle_3 > .paddingLayer {
  height: 139px;
  width: 375px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Rectangle_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_16 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_16 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 20.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_16 > .clipping, #s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_16 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_16 span {
  color: #021D5B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 20.0pt;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_16 span#rtr-s-Text_16_0 {
  color: #021D5B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #shapewrapper-s-Line_5 marker {
  fill: #A9A9A9;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #shapewrapper-s-Line_5 {
  position: absolute;
  width: 375px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Line_5 {
  width: 375px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Image_3 {
  position: absolute;
  width: 21px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Image_3 > img, #s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Image_3 > svg {
  height: 23px;
  width: 21px;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Image_4 {
  position: absolute;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Image_4 > img, #s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Image_4 > svg {
  height: 25px;
  width: 25px;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_17 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_17 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_17 > .clipping, #s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_17 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_17 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_17 span#rtr-s-Text_17_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #shapewrapper-s-Line_6 marker {
  fill: #A9A9A9;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #shapewrapper-s-Line_6 {
  position: absolute;
  width: 375px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Line_6 {
  width: 375px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-outlookOk-green > svg {
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-outlookOk-green {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-outlookOk-green > img, #s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-outlookOk-green > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-google-Ok-green_1 > svg {
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-google-Ok-green_1 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-google-Ok-green_1 > img, #s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-google-Ok-green_1 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-outlook_sync > svg {
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-outlook_sync {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-outlook_sync > img, #s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-outlook_sync > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-google_sync > svg {
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-google_sync {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-google_sync > img, #s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-google_sync > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_19 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_19 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_19 > .clipping, #s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_19 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_19 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_19 span#rtr-s-Text_19_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_10 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_10 > .clipping, #s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_10 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_10 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_10 span#rtr-s-Text_10_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_12 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_12 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_12 > .clipping, #s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_12 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_12 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_12 span#rtr-s-Text_12_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_18 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_18 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_18 > .clipping, #s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_18 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_18 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_18 span#rtr-s-Text_18_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_4 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_4 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_4 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_4 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_4 {
  position: absolute;
  width: 70px;
  height: 33px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 14.0pt;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_4 input {
  color: #F46036;
  text-align: center;
  text-decoration: underline;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  text-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_4 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F46036;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F46036;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F46036;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F46036;
  border-radius: 7px 7px 7px 7px;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_4 > .paddingLayer {
  height: 23px;
  width: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_20 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_20 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_20 > .clipping, #s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_20 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_20 span {
  color: #021D5B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_20 span#rtr-s-Text_20_0 {
  color: #021D5B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_21 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_21 {
  position: absolute;
  width: 375px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_21 > .clipping, #s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_21 > .paddingLayer {
  height: 25px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_21 span {
  color: #021D5B;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_21 span#rtr-s-Text_21_0 {
  color: #021D5B;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_21 span#rtr-s-Text_21_1 {
  color: #021D5B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #shapewrapper-s-Line_4 marker {
  fill: #A9A9A9;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #shapewrapper-s-Line_4 {
  position: absolute;
  width: 375px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Line_4 {
  width: 375px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #shapewrapper-s-Line_7 marker {
  fill: #A9A9A9;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #shapewrapper-s-Line_7 {
  position: absolute;
  width: 375px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Line_7 {
  width: 375px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_2 {
  position: absolute;
  width: 38px;
  height: 28px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 14.0pt;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_2 input {
  color: #F46036;
  text-align: center;
  text-decoration: underline;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  text-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F46036;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F46036;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F46036;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F46036;
  border-radius: 6px 6px 6px 6px;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_2 > .paddingLayer {
  height: 20px;
  width: 30px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_3 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_3 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_3 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_3 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_3 {
  position: absolute;
  width: 38px;
  height: 28px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 14.0pt;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_3 input {
  color: #F46036;
  text-align: center;
  text-decoration: underline;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  text-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F46036;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F46036;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F46036;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F46036;
  border-radius: 6px 6px 6px 6px;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Input_3 > .paddingLayer {
  height: 20px;
  width: 30px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #shapewrapper-s-Line_8 marker {
  fill: #A9A9A9;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #shapewrapper-s-Line_8 {
  position: absolute;
  width: 375px;
  height: 2px;
  opacity: 0.2;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Line_8 {
  width: 375px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #shapewrapper-s-Line_9 marker {
  fill: #A9A9A9;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #shapewrapper-s-Line_9 {
  position: absolute;
  width: 375px;
  height: 2px;
  opacity: 0.2;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Line_9 {
  width: 375px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #shapewrapper-s-Line_10 marker {
  fill: #A9A9A9;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #shapewrapper-s-Line_10 {
  position: absolute;
  width: 375px;
  height: 2px;
  opacity: 0.2;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Line_10 {
  width: 375px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #shapewrapper-s-Line_11 marker {
  fill: #A9A9A9;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #shapewrapper-s-Line_11 {
  position: absolute;
  width: 375px;
  height: 2px;
  opacity: 0.2;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Line_11 {
  width: 375px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_22 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_22 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_22 > .clipping, #s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_22 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_22 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba #s-Text_22 span#rtr-s-Text_22_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-76c2e88c-01fe-4c0d-ac9c-2d1ed677caba > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}