#s-784050d3-3516-4110-a2aa-f6832ac67a13 #s-pageload .s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-784050d3-3516-4110-a2aa-f6832ac67a13 #s-pageload .s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-784050d3-3516-4110-a2aa-f6832ac67a13 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-784050d3-3516-4110-a2aa-f6832ac67a13 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-784050d3-3516-4110-a2aa-f6832ac67a13 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-784050d3-3516-4110-a2aa-f6832ac67a13 #s-Image_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-784050d3-3516-4110-a2aa-f6832ac67a13 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-784050d3-3516-4110-a2aa-f6832ac67a13 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-784050d3-3516-4110-a2aa-f6832ac67a13 #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-784050d3-3516-4110-a2aa-f6832ac67a13 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-784050d3-3516-4110-a2aa-f6832ac67a13 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-784050d3-3516-4110-a2aa-f6832ac67a13 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-784050d3-3516-4110-a2aa-f6832ac67a13 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-784050d3-3516-4110-a2aa-f6832ac67a13 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-784050d3-3516-4110-a2aa-f6832ac67a13 #s-Label_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-784050d3-3516-4110-a2aa-f6832ac67a13 #s-Label_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-784050d3-3516-4110-a2aa-f6832ac67a13 #s-Rich_text_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-784050d3-3516-4110-a2aa-f6832ac67a13 #s-Label_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-784050d3-3516-4110-a2aa-f6832ac67a13 #s-navigate {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-784050d3-3516-4110-a2aa-f6832ac67a13 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-784050d3-3516-4110-a2aa-f6832ac67a13 #s-navigation {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-784050d3-3516-4110-a2aa-f6832ac67a13 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-784050d3-3516-4110-a2aa-f6832ac67a13 #s-Line_3 {
  rotation: 90.0;
  margin-left: 39px;
  margin-top: -39px;
}
#s-784050d3-3516-4110-a2aa-f6832ac67a13 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-784050d3-3516-4110-a2aa-f6832ac67a13 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-784050d3-3516-4110-a2aa-f6832ac67a13 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-784050d3-3516-4110-a2aa-f6832ac67a13 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-784050d3-3516-4110-a2aa-f6832ac67a13 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-784050d3-3516-4110-a2aa-f6832ac67a13 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-784050d3-3516-4110-a2aa-f6832ac67a13 #s-Callout_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-784050d3-3516-4110-a2aa-f6832ac67a13 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}