#s-91ba4982-6fcc-4954-9cb4-d6f9f4bcc7f0 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-91ba4982-6fcc-4954-9cb4-d6f9f4bcc7f0 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-91ba4982-6fcc-4954-9cb4-d6f9f4bcc7f0 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-91ba4982-6fcc-4954-9cb4-d6f9f4bcc7f0 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-91ba4982-6fcc-4954-9cb4-d6f9f4bcc7f0 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-91ba4982-6fcc-4954-9cb4-d6f9f4bcc7f0 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-91ba4982-6fcc-4954-9cb4-d6f9f4bcc7f0 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-91ba4982-6fcc-4954-9cb4-d6f9f4bcc7f0 #s-Loading_1 {
  -ms-transform: rotate(0.0deg);
}
#s-91ba4982-6fcc-4954-9cb4-d6f9f4bcc7f0 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-91ba4982-6fcc-4954-9cb4-d6f9f4bcc7f0 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-91ba4982-6fcc-4954-9cb4-d6f9f4bcc7f0 #s-Notification-lite {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 13px 13px 13px 13px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-91ba4982-6fcc-4954-9cb4-d6f9f4bcc7f0 #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 0px 0px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-91ba4982-6fcc-4954-9cb4-d6f9f4bcc7f0 #s-Label_91 {
  -ms-transform: rotate(0.0deg);
}
#s-91ba4982-6fcc-4954-9cb4-d6f9f4bcc7f0 #s-Label_92 {
  -ms-transform: rotate(0.0deg);
}
#s-91ba4982-6fcc-4954-9cb4-d6f9f4bcc7f0 #s-Label_93 {
  -ms-transform: rotate(0.0deg);
}
#s-91ba4982-6fcc-4954-9cb4-d6f9f4bcc7f0 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-91ba4982-6fcc-4954-9cb4-d6f9f4bcc7f0 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-91ba4982-6fcc-4954-9cb4-d6f9f4bcc7f0 #s-Label_101 {
  -ms-transform: rotate(0.0deg);
}
#s-91ba4982-6fcc-4954-9cb4-d6f9f4bcc7f0 #s-Label_94 {
  -ms-transform: rotate(0.0deg);
}
#s-91ba4982-6fcc-4954-9cb4-d6f9f4bcc7f0 #s-Exit {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-91ba4982-6fcc-4954-9cb4-d6f9f4bcc7f0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}