#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Year {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Month {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-wed {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-tue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-mon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-thu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-fri {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-sat {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-sun {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-dot-orange {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-wed_date {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-tue_date {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-mon_date {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-sun_date {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-sat_date {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-fri_date {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-today_date {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-BlueBox {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-TopWhiteRectangle {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Label_117 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Label_116 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Label_110 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Label_109 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Image_122 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Image_140 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Label_112 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Image_123 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Image_141 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Label_118 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Label_119 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Label_113 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Label_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Image_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Image_139 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Label_125 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Label_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-BlueBox_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-TopWhiteRectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Label_120 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Label_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Label_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Label_114 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Image_124 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Image_142 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}