#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Year {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Month {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-wed {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-tue {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-mon {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-thu {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-fri {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-sat {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-sun {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-dot-orange {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-wed_date {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-tue_date {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-mon_date {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-sun_date {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-sat_date {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-fri_date {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-today_date {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-BlueBox {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDE3EE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDE3EE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDE3EE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDE3EE;
  border-radius: 10px 10px 10px 10px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-TopWhiteRectangle {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 0px 0px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Label_117 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Label_116 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Label_110 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Label_109 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Image_122 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Image_140 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Label_112 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Image_123 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Image_141 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Label_118 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Label_119 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Label_113 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Line_4 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Line_4 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Line_3 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Line_3 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Label_107 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Image_121 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Image_139 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Label_125 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Label_108 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-BlueBox_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDE3EE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDE3EE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDE3EE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDE3EE;
  border-radius: 9px 9px 9px 9px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-TopWhiteRectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 0px 0px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Label_120 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Label_121 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Label_115 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Label_114 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Image_124 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Image_142 {
  -ms-transform: rotate(0.0deg);
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b8f23311-7f25-4031-8d8d-12a0bff84b44 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}