#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F9F8FC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F9F8FC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F9F8FC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F9F8FC;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 41px;
  height: 36px;
  width: 311px;
  -ms-transform: rotate(0.0deg);
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F9F8FC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F9F8FC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F9F8FC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F9F8FC;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 41px;
  height: 36px;
  width: 311px;
  -ms-transform: rotate(0.0deg);
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F9F8FC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F9F8FC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F9F8FC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F9F8FC;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 41px;
  height: 36px;
  width: 311px;
  -ms-transform: rotate(0.0deg);
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F9F8FC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F9F8FC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F9F8FC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F9F8FC;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 41px;
  height: 36px;
  width: 311px;
  -ms-transform: rotate(0.0deg);
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Loading_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}