#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Loading_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}