#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button_Icon {
  position: absolute;
  width: 357px;
  height: 46px;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #F9F8FC;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F9F8FC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F9F8FC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F9F8FC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F9F8FC;
  border-radius: 7px 7px 7px 7px;
  box-shadow: none;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue_1 {
  position: absolute;
  width: 357px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue_1 > .clipping, #s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue_1 > .paddingLayer {
  height: 36px;
  width: 311px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 41px;
  padding-right: 5px;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue_1 span {
  color: #FF2D55;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue_1 span#rtr-s-Button-blue_1_0 {
  color: #FF2D55;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F9F8FC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F9F8FC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F9F8FC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F9F8FC;
  border-radius: 7px 7px 7px 7px;
  box-shadow: 0px 2px 5px 0px #404040;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue {
  position: absolute;
  width: 357px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue > .clipping, #s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue > .paddingLayer {
  height: 36px;
  width: 311px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 41px;
  padding-right: 5px;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue .valign {
  vertical-align: middle;
  text-align: center;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue span#rtr-s-Button-blue_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Image_1 {
  position: absolute;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Image_1 > img, #s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Image_1 > svg {
  height: 25px;
  width: 25px;
  box-shadow: none;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #F9F8FC;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F9F8FC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F9F8FC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F9F8FC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F9F8FC;
  border-radius: 7px 7px 7px 7px;
  box-shadow: none;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue_2 {
  position: absolute;
  width: 357px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue_2 > .clipping, #s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue_2 > .paddingLayer {
  height: 36px;
  width: 311px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 41px;
  padding-right: 5px;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue_2 span {
  color: #FF2D55;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue_2 span#rtr-s-Button-blue_2_0 {
  color: #FF2D55;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Outlook {
  position: absolute;
  width: 357px;
  height: 46px;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F9F8FC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F9F8FC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F9F8FC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F9F8FC;
  border-radius: 7px 7px 7px 7px;
  box-shadow: 0px 2px 5px 0px #404040;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue_3 {
  position: absolute;
  width: 357px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue_3 > .clipping, #s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue_3 > .paddingLayer {
  height: 36px;
  width: 311px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 41px;
  padding-right: 5px;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue_3 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Button-blue_3 span#rtr-s-Button-blue_3_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Image_2 {
  position: absolute;
  width: 21px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Image_2 > img, #s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Image_2 > svg {
  height: 23px;
  width: 21px;
  box-shadow: none;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Text_1 > .clipping, #s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Text_1 span {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Loading_1 {
  position: absolute;
  width: 35px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Loading_1 > img, #s-db7c4926-f29d-415c-b5c6-2656785a2ba5 #s-Loading_1 > svg {
  height: 35px;
  width: 35px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-db7c4926-f29d-415c-b5c6-2656785a2ba5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}