#t-14d62762-8055-47ae-816c-61acb6201275 #t-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Bg_bottom {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Home_Indicator {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}