#t-14d62762-8055-47ae-816c-61acb6201275 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#t-14d62762-8055-47ae-816c-61acb6201275 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #021D5B;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Rectangle_1 {
  position: absolute;
  width: 375px;
  height: 71px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Rectangle_1 > .clipping, #t-14d62762-8055-47ae-816c-61acb6201275 #t-Rectangle_1 > .paddingLayer {
  height: 71px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Rectangle_1 span#rtr-t-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: -moz-linear-gradient(top,#021D5B,#F6F7F8);
  background-image: -webkit-linear-gradient(top,#021D5B,#F6F7F8);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#021D5B), color-stop(100%,#F6F7F8));
  background-image: -o-linear-gradient(top,#021D5B,#F6F7F8);
  background-image: linear-gradient(to bottom,#021D5B,#F6F7F8);
  box-shadow: none;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Rectangle_2 {
  position: absolute;
  width: 375px;
  height: 654px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Rectangle_2 > .clipping, #t-14d62762-8055-47ae-816c-61acb6201275 #t-Rectangle_2 > .paddingLayer {
  height: 654px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Rectangle_2 span#rtr-t-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Bg_bottom > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #F6F7F8;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  box-shadow: none;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Bg_bottom {
  position: absolute;
  width: 0px;
  height: 90px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Bg_bottom > .clipping, #t-14d62762-8055-47ae-816c-61acb6201275 #t-Bg_bottom > .paddingLayer {
  height: 89px;
  width: 100px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Bg_bottom .valign {
  vertical-align: middle;
  text-align: center;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Bg_bottom span {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Bg_bottom span#rtr-t-Bg_bottom_0 {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Bottom-bar1 {
  position: absolute;
  width: 375px;
  height: 77px;
  z-index: 100;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Bottom_Nave {
  position: absolute;
  width: 375px;
  height: 76px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Bottom_Nave > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Bottom_Nave > table {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Cell_1 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Cell_1 td.layout {
  padding: 10px 10px 10px 10px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Cell_1 .verticalalign {
  vertical-align: top;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Cell_1 {
  width: 75px;
  height: 76px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_2 > svg {
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_2 {
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_2 > img, #t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_2 > svg {
  height: 30px;
  width: 30px;
  box-shadow: none;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_3 {
  width: 59px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_3 > .clipping, #t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_3 > .paddingLayer {
  height: 23px;
  width: 59px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_3 span {
  color: #8A8A8F;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_3 span#rtr-t-Label_3_0 {
  color: #8A8A8F;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Cell_3 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Cell_3 td.layout {
  padding: 10px 10px 10px 10px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Cell_3 .verticalalign {
  vertical-align: top;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Cell_3 {
  width: 75px;
  height: 76px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_12 > svg {
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_12 {
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_12 > img, #t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_12 > svg {
  height: 30px;
  width: 30px;
  box-shadow: none;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_5 {
  width: 59px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_5 > .clipping, #t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_5 > .paddingLayer {
  height: 26px;
  width: 59px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_5 span {
  color: #8A8A8F;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_5 span#rtr-t-Label_5_0 {
  color: #8A8A8F;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Cell_5 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Cell_5 td.layout {
  padding: 10px 10px 10px 10px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Cell_5 .verticalalign {
  vertical-align: top;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Cell_5 {
  width: 75px;
  height: 76px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_36 > svg {
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_36 {
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_36 > img, #t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_36 > svg {
  height: 30px;
  width: 30px;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_7 {
  width: 59px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_7 > .clipping, #t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_7 > .paddingLayer {
  height: 25px;
  width: 59px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_7 span {
  color: #F46036;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_7 span#rtr-t-Label_7_0 {
  color: #F46036;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Cell_7 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Cell_7 td.layout {
  padding: 10px 10px 10px 10px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Cell_7 .verticalalign {
  vertical-align: top;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Cell_7 {
  width: 75px;
  height: 76px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_1 > svg {
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_1 {
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_1 > img, #t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_1 > svg {
  height: 30px;
  width: 30px;
  box-shadow: none;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_9 {
  width: 59px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_9 > .clipping, #t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_9 > .paddingLayer {
  height: 25px;
  width: 59px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_9 span {
  color: #8A8A8F;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_9 span#rtr-t-Label_9_0 {
  color: #8A8A8F;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Cell_9 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Cell_9 td.layout {
  padding: 10px 10px 10px 10px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Cell_9 .verticalalign {
  vertical-align: top;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Cell_9 {
  width: 75px;
  height: 76px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_5 > svg {
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_5 {
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_5 > img, #t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_5 > svg {
  height: 30px;
  width: 30px;
  box-shadow: none;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_11 {
  width: 59px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_11 > .clipping, #t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_11 > .paddingLayer {
  height: 25px;
  width: 59px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_11 span {
  color: #8A8A8F;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_11 span#rtr-t-Label_11_0 {
  color: #8A8A8F;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #shapewrapper-t-Line_1 marker {
  fill: #A9A9A9;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #shapewrapper-t-Line_1 {
  position: absolute;
  width: 375px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Line_1 {
  width: 375px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Home_Indicator > svg {
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Home_Indicator {
  position: absolute;
  width: 134px;
  height: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Home_Indicator > img, #t-14d62762-8055-47ae-816c-61acb6201275 #t-Home_Indicator > svg {
  height: 5px;
  width: 134px;
  box-shadow: none;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-button-back {
  position: absolute;
  width: 254px;
  height: 28px;
  z-index: 100;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Text_1 > .clipping, #t-14d62762-8055-47ae-816c-61acb6201275 #t-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Text_1 span#rtr-t-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_83 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_83 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_83 > .clipping, #t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_83 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_83 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_83 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Label_83 span#rtr-t-Label_83_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_7 > svg {
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_7 {
  position: absolute;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_7 > img, #t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_7 > svg {
  height: 22px;
  width: 22px;
  box-shadow: none;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-statusBar {
  position: absolute;
  width: 335px;
  height: 22px;
  z-index: 100;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Text_2 {
  position: absolute;
  width: 45px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Text_2 > .clipping, #t-14d62762-8055-47ae-816c-61acb6201275 #t-Text_2 > .paddingLayer {
  height: 18px;
  width: 45px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Text_2 span#rtr-t-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_17 > svg {
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_17 {
  position: absolute;
  width: 17px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_17 > img, #t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_17 > svg {
  height: 12px;
  width: 17px;
  box-shadow: none;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_18 > svg {
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_18 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_18 > img, #t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_18 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_4 > svg {
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_4 {
  position: absolute;
  width: 25px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_4 > img, #t-14d62762-8055-47ae-816c-61acb6201275 #t-Image_4 > svg {
  height: 12px;
  width: 25px;
  box-shadow: none;
}
#t-14d62762-8055-47ae-816c-61acb6201275 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}