#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Rectangle_2 {
  -pie-background: linear-gradient(to bottom,#021D5B,#F6F7F8);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Bg_bottom {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Bottom_Nave {
  border-collapse: separate;
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Cell_1 > .valign {
  vertical-align: top;
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Cell_3 > .valign {
  vertical-align: top;
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Cell_5 > .valign {
  vertical-align: top;
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Cell_7 > .valign {
  vertical-align: top;
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Cell_9 > .valign {
  vertical-align: top;
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Line_1 {
  stroke-width: 1px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Line_1 {
  stroke-width: 1px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Home_Indicator {
  -ms-transform: rotate(0.0deg);
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Label_83 {
  -ms-transform: rotate(0.0deg);
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}