#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Bg_bottom {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Home_Indicator {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Label_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f #t-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cfb24705-8796-4496-b8ee-2c95ddbe4c6f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}