#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Rectangle_2 {
  -pie-background: linear-gradient(to bottom,#021D5B,#F6F7F8);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Home_Indicator {
  -ms-transform: rotate(0.0deg);
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}