#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #021D5B;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Rectangle_1 {
  position: absolute;
  width: 375px;
  height: 71px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Rectangle_1 > .clipping, #t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Rectangle_1 > .paddingLayer {
  height: 71px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Rectangle_1 span#rtr-t-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: -moz-linear-gradient(top,#021D5B,#F6F7F8);
  background-image: -webkit-linear-gradient(top,#021D5B,#F6F7F8);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#021D5B), color-stop(100%,#F6F7F8));
  background-image: -o-linear-gradient(top,#021D5B,#F6F7F8);
  background-image: linear-gradient(to bottom,#021D5B,#F6F7F8);
  box-shadow: none;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Rectangle_2 {
  position: absolute;
  width: 375px;
  height: 741px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Rectangle_2 > .clipping, #t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Rectangle_2 > .paddingLayer {
  height: 741px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Rectangle_2 span#rtr-t-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Home_Indicator > svg {
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Home_Indicator {
  position: absolute;
  width: 134px;
  height: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Home_Indicator > img, #t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Home_Indicator > svg {
  height: 5px;
  width: 134px;
  box-shadow: none;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Image_3 {
  position: absolute;
  width: 272px;
  height: 89px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Image_3 > img, #t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Image_3 > svg {
  height: 89px;
  width: 272px;
  box-shadow: none;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-statusBar {
  position: absolute;
  width: 335px;
  height: 22px;
  z-index: 100;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Text_2 {
  position: absolute;
  width: 45px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Text_2 > .clipping, #t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Text_2 > .paddingLayer {
  height: 18px;
  width: 45px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Text_2 span#rtr-t-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Image_17 > svg {
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Image_17 {
  position: absolute;
  width: 17px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Image_17 > img, #t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Image_17 > svg {
  height: 12px;
  width: 17px;
  box-shadow: none;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Image_18 > svg {
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Image_18 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Image_18 > img, #t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Image_18 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Image_4 > svg {
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Image_4 {
  position: absolute;
  width: 25px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Image_4 > img, #t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Image_4 > svg {
  height: 12px;
  width: 25px;
  box-shadow: none;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}