#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Home_Indicator {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 #t-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-ef2f14eb-84b7-4b0b-8334-f2f5ed3ac329 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}