#t-feefc762-81a9-4f38-a0bb-0ff760f4fa44 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#t-feefc762-81a9-4f38-a0bb-0ff760f4fa44 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#t-feefc762-81a9-4f38-a0bb-0ff760f4fa44 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}